/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.blurLight {
  filter: blur(1px);
}

.blurMedium {
  filter: blur(5px);
}

.blurHeavy {
  filter: blur(10px);
}
