# Links 
# Do not include `NEXT_PUBLIC_` for secret values.
# Values with `NEXT_PUBLIC_` show up in the frontend.
NEXT_PUBLIC_LINKEDIN_URL="https://www.linkedin.com/in/xaviercollantes"
NEXT_PUBLIC_GITHUB_URL="https://github.com/xcollantes"
NEXT_PUBLIC_SHARE_URL=""


# Next Auth 
# Configure OAuth screen: https://developers.google.com/identity/protocols/oauth2
GOOGLE_CLIENT_ID=""
GOOGLE_SECRET=""

# Must match what you entered with OAuth provider
NEXTAUTH_URL="http://localhost:3000/"


# Google Sheets API 
# Sheets as a database for authorized users
SHEET_ID=""
GOOGLE_APPLICATION_CREDENTIALS="credentials.json"